@import url('https://fonts.googleapis.com/css2?family=Noto+Serif&family=Poppins:wght@300;700&display=swap');

/* Used For All Pages */

:root {
    --font-family: 'Poppins', sans-serif;
    --font-accent: 'Noto Serif', serif;

    --color-bg: rgb(255, 255, 255);
    --color-accent: rgb(41, 204, 0);
   
}

* {
    user-select: none;
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    scroll-behavior: smooth;
}

body{
    background: var(--color-bg);
    font-family: var(--font-family);
}

a{
    color: unset;
    text-decoration: none;
}

.section__padding{
    padding: 4rem 6rem;

}

/* NAVBAR */
.navbar{
    align-self: flex-start;
    top: 0;
    position: sticky;
    display: flex;
    
    flex-direction: row;
    justify-content: space-between;
    align-items: center;


    padding: 2rem;
    margin-bottom: 1rem;

    background: var(--color-accent);
}

#menuToggle{
    display: block;
    position: relative;
    

    z-index: 1;

}

#menuToggle a{
    text-decoration: none;
    color: #232323;
    transition: color 0.3s ease;
}

#menuToggle a:hover{
    color:tomato;
}

#menuToggle input{
    display:block;
    width: 40px;
    height: 32px;
    position: absolute;
    top: -7px;
    left: -5px;

    cursor: pointer;

    opacity: 0;
    z-index: 2;

}

#menuToggle span{
    display: block;
    width: 33px;
    height: 4px;
    margin-bottom: 5px;
    position: relative;

    background: #ffffff;
    border-radius: 3px;

    z-index: 1;

    transform-origin: 4px 0px;

    transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
              background 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
              opacity 0.55s ease;
}

#menuToggle span:first-child{
    transform-origin: 0% 0%;
}

#menuToggle span:nth-last-child(2){
    transform-origin: 0% 100%;
}

#menuToggle input:checked ~ span{
    opacity: 1;
    transform: rotate(45deg) translate(-2px,-1px);
    background: #232323;

}

#menuToggle input:checked ~ span:nth-last-child(3)
{
  opacity: 0;
  transform: rotate(0deg) scale(0.2, 0.2);
}

#menuToggle input:checked ~ span:nth-last-child(2)
{
  transform: rotate(-45deg) translate(0, -1px);
}

#menu
{
  position: absolute;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 30vw;
  height: 103vh;
  margin: -100px 0 0 -50px;
  padding: 50px;
  padding-left: 6vw;
  padding-top: 125px;

  overflow-y: scroll;
  
  background: #ffffff;
  list-style-type: none;
  -webkit-font-smoothing: antialiased;

  -webkit-box-shadow: 6px 5px 24px 5px rgba(0,0,0,0.63); 
  box-shadow: 6px 5px 24px 5px rgba(0,0,0,0.63);
  
  
  transform-origin: 0% 0%;
  transform: translate(-100%, 0);
  
  transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0);
}

#menu li
{
  padding: 10px 0;
  font-size: 22px;
}

/*
 * slide it in from the left
 */
#menuToggle input:checked ~ ul
{
  transform: none;
}

.navbar__cart{
    color: white;
}

/* SECTION WRAPPERS */
.Wrapper{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    width: 100vw;
}

.Wrapper-col{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100vw;
}

.Wrapper__carousel{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 60vw;
    height: 500px;
    background-color: rgb(212, 211, 211);
}

/* SECTION BREAK */
.section__break{
    display: flex;
    justify-content: center;
    width: 50rem;
    height: 3px;
    background-color: black;
}

/* SCROLLABLE */
.Wrapper__scrollable{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    overflow-x: auto;
    scroll-snap-type: x proximity;
    scroll-behavior: smooth;
    

    background-color: rgb(212, 211, 211);
}

.Wrapper__scrollable-image{
    user-select: none;
    scroll-snap-align: center;
    flex: 0 0 auto;
    width: 400px;
    height: 150px;
    margin: 1rem;
    background-color: rgb(94, 94, 94);
}

.card{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;

    transition: ease 0.3s;
    border-radius: 38px;
    width: 35vw;
    background: rgb(190, 190, 190);
    padding: 1rem;
    margin: 1rem;
}

.card img{
    width: 100%;
    border: 5px solid rgb(255, 255, 255);
    border-radius: 38px; 
    
}

.card:hover{
    scale: 1.01;
}



.card-header{
    text-align: center;
}

.card-body{
    background: white;
    width: 100%;
    border-radius: 38px;
    padding: 1rem 1rem 3rem 3rem;
}




@media screen and (max-width: 550px) {
    .section__padding{
        padding: 4rem 2rem;

    }

    .section__margin{
        margin: 4rem 2rem;
    }
    
}